@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

header {
    margin: 9.3vw 12.5vw 20vw 9.3vw; 
}

.logo {
    width: 13.9vw;
}

.wrapper {
    display: flex;
    height: 2.6vw;
    margin-top: 11.8vw;
}

.globe, .clock, .calendar {
    height: 2.6vw;
}

.wrapper p {
    font-size: 2.6vw;
    margin-left: 1.3vw;
    margin-right: 2.6vw;
}

h1 {
    width: 77.8vw;
    font-family: 'Roboto Slab';
    font-size: 9.8vw;
    margin-top: 2.3vw;
    line-height: 1;
}

.text-summary {
    font-size: 2.6vw;
    width: 55vw;
    margin-top: 5.3vw;
}

.filmmaker {
    width: 37.6vw;
    margin-left: 43.1vw;
}

.blue-box {
    width: 60vw;
    height: 24.8vw;
    background-color: #1E4681;
    color: white;
    font-family: 'Roboto Slab';
    font-size: 2.9vw;
    margin-top: 10.3vw;
    border-radius: 0.6vw;
    padding: 2.3vw 3.3vw 8.4vw;
}

.blue-box p:first-child {
    width: 50vw;
    height: 13.8vw;
}

.blue-box p:last-child {
    font-family: Roboto;
    text-align: right;
    font-size: 2.6vw;
    margin-top: 1.8vw;
}

.about {
    margin: 20vw 8.1vw 20vw 9.6vw;
}

.about h2 {
    font-family: 'Roboto Slab';   
    font-weight: 700;
    font-size: 6.9vw;
    margin-bottom: 10vw;
}

.about p {
    font-size: 3.2vw;
    line-height: 1.5;
}

.about-p1 {
    margin-bottom: 7vw;
}

.cameraman {
    width: 45.4vw;
    margin: 6.6vw 15vw;
}

.schedule h4 {
    font-weight: 700;
    font-size: 3.2vw;
}

.schedule p {
    font-weight: 400;
    font-size: 2.6vw;
    width: 22vw;
}

.schedule {
    display: flex;
    flex-wrap: wrap;
    gap: 8.8vw;
}