.section-5 {
    font-family: Roboto Slab;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
  }
  
  .section-5-container {
    display: flex;
    flex-direction: column;
    gap: 75px;
  }
  
  .section-5-title {
    font-size: 55px;
    font-weight: 700;
    line-height: 55.76px;
    text-align: left;
  }
  
  .section-5-bottom {
    display: flex;
  }
  
  .section-5-card {
    background-color: white;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: 1px 1px 20px 0px #00000040;
    border-radius: 30px;
    padding: 40px;
  }
  
  .section-5-card p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }
  
  .section-5-card-footer {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .section-5-card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .section-5-card-content h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 30.42px;
    text-align: left;
  }
  @media screen and (max-width: 1279px) {

    #section-5 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .section-5-container {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  
    .section-5-title {
      font-size: 32px;
      font-weight: 700;
      line-height: 32.44px;
      text-align: left;
    }
  
    .section-5-bottom {
      display: flex;
    }
  
    .section-5-card {
      width: 75%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      box-shadow: 1px 1px 20px 0px #00000040;
      border-radius: 30px;
      padding: 26px;
    }
  
    .section-5-card p {
      font-family: Roboto;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-align: left;
    }
  
    .section-5-card-footer {
      display: flex;
      align-items: center;
      gap: 18px;
    }
  
    .section-5-card-footer>img {
      width: 110px;
    }
  
    .section-5-card-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    .section-5-card-content h1 {
      font-size: 17px;
      font-weight: 700;
      line-height: 17.24px;
      text-align: left;
    }
  
    .section-5-card-content img {
      width: 20px;
    }
  }
  
  @media screen and (max-width: 991px) {
    .testimonials-card {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 375px) {
  
    #section-5 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .section-5-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .section-5-title {
      font-size: 26px;
      font-weight: 700;
      line-height: 26.36px;
      text-align: left;
    }
  
    .section-5-bottom {
      display: flex;
    }
  
    .section-5-card {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      box-shadow: 1px 1px 20px 0px #00000040;
      border-radius: 30px;
      padding: 26px;
    }
  
    .section-5-card p {
      font-family: Roboto;
      font-size: 10px;
      font-weight: 400;
      line-height: 15px;
      text-align: left;
    }
  
    .section-5-card-footer {
      display: flex;
      align-items: center;
      gap: 18px;
    }
  
    .section-5-card-footer>img {
      width: 80px;
    }
  
    .section-5-card-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    .section-5-card-content h1 {
      font-size: 14px;
      font-weight: 700;
      line-height: 14.19px;
      text-align: left;
    }
  
    .section-5-card-content {
      width: 20px;
    }
  }